#ignore py files...
*.py

#...except
!cod_scraper.py
!scraper_functions.py
!aggregate_data.py

#folder(s)
/__pycache__/
/data/
/.ipynb_checkpoints/
/archive/

#other
notes.txt
scraping_log.xlsx
/notebooks/.ipynb_checkpoints/
/notebooks/Data_loading.ipynb
